* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "Work Sans", system-ui, monospace;
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
button, 
textarea {
  font-family: inherit;
}

:root {
  --background-color: #0d1117;
  --foreground-color: #21262d;
  --primary-color: #238636;
  --secondary-color: #484f58;
  --text-color: #efefef;
}

img {
  width: 100%;
}


main {
  width: 95%;
  max-width: 500px;
  margin: 50px auto;
  flex-grow: 1;
  margin-bottom: 0;
}

.form {
  border: 1px solid var(--secondary-color);
  padding: 1rem;
  border-radius: 0.5em;
  margin-bottom: 1rem;
}

footer {
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.wrapper {
  margin: 0 auto;
  width: max-content;
  max-width: 500px;
  border: 1px solid var(--secondary-color);
  padding: 10px 30px;
  border-radius: 0.5em;
}

footer h1 {
  font-size: 24px;
  font-weight: 500;
}

a:link,
a:visited {
  color: #ccc;
  text-decoration: underline;
}

a:hover,
a:active {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.form div {
  display: flex;
}

input[type='text'] {
  width: 80%;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 0.3em;
  color: var(--text-color);
}

input[type='text']:last-child {
  border: none;
  border-bottom: 1px solid #1f6feb;
  border-top: 1px solid #1f6feb;
  border-radius: 0;
  margin-top: 10px;
  font-size: 14px;
  margin-right: auto;
  background-color: #1f6feb44;
}


input[type='submit']{
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.3em;
  padding: 7px 10px;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 10px;
  font-size: 12px;
  align-self: center;
}

input[type='submit']:hover {
  cursor: pointer;
  background-color: #238636dd;
}

input {
  display: block;
  margin-bottom: 10px;
  outline: none;
}

.input-focus:focus {
  border: 1px solid #1f6feb;
}

ul {
  list-style: none;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  position: relative;
  transform-origin: left;
  border: 1px solid var(--secondary-color);
  border-radius: 0.3em;
}


li:after {
  content: "";
  width: 0;
  left: 30px;
  display: block;
  height: 2px;
  background-color: var(--secondary-color);
  position: absolute;
  transition: all 0.3s;
}

li.completed::after {
  content: "";
  display: block;
  width: 85%;
  height: 2px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 30px;
}


/* Utility classes*/

i:hover {
  cursor: pointer;
}

.circle {
  font-size: 16px;
}

.delete {
  margin-left: auto;
  color: #da3633;
}

.hidden {
  display: none;
}

.completed {
  color: #777;
}


.fall {
  animation: fall 0.3s ease;
}


@keyframes fall {
  from {
    rotate: 0;
    opacity: 1;
  }
  to {
    rotate: 7deg;
    opacity: 0;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}

.logo-img {
  width: 32px;
  background-color: red;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
}