* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "Work Sans", system-ui, monospace;
}

input,
button, 
textarea {
  font-family: inherit;
}

:root {
  --background-color: #0d1117;
  --foreground-color: #21262d;
  --primary-color: #238636;
  --secondary-color: #484f58;
}


// Utility classes

.hidden {
  display: none;
}

.hidden {
  display: none;
}